:root {
    --text-color: #D4D4D4;
    --bkg-color: #1A1A1A;

    --btn-default: #1B5E20;
    --btn-hover: #256D27;
    --btn-active: #104417;

    --thumb-default: #2E7D32;
    --thumb-hover: #388E3C;
    --thumb-active: #1B5E20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

body {
    height: 100%;
}

details {
    position: absolute;
    left: 25%;
    bottom: 1vh;
    z-index: 10;
}

summary {
    margin: 10px;
    color: #1A1A1A;
}

#canvas {
    height: 100%;
}

.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke: rgba(66, 180, 21, 0.7) !important;
}

#prompt-container {
    padding: 20px;
    width: 50vw;
    height: 20vh;
    background-color: var(--bkg-color);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#text-input {
    color: var(--text-color);
    width: 90%;
    height: 90%;
    resize: none;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

#submit-button {
    width: 7%;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-default);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#submit-button:hover {
    background-color: var(--btn-hover);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#submit-button:active {
    background-color: var(--btn-active);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#submit-button:disabled {
    background-color: var(--bkg-color);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#arrow-up {
    font-size: xx-large;
    color: var(--text-color);
}