{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div id="charts-container"></div>
    <div id="prompt-container">
        <textarea id="text-input" placeholder="Enter a prompt" onkeyup="stoppedTyping()"></textarea>
        <button id="submit-button" onclick="send_prompt()" disabled>
            <span id="arrow-up">
                &#129033;
            </span>
        </button>
    </div>
</body>

<script>
    function getCookie(name) {
        let cookieValue = null;

        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");

    function stoppedTyping() {
        if (document.getElementById("text-input").value.trimEnd() === "") {
            document.getElementById("submit-button").disabled = true;
        } else {
            document.getElementById("submit-button").disabled = false;
        }
    }

    function send_prompt() {
        const prompt = document.getElementById("text-input").value;

        fetch("{% url 'send_prompt_to_llm' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
                body: prompt,
            })
        }).then(response => response.json()).then(data => {
            body = data["message"];
            document.getElementById("charts-container").innerHTML = `<h2>${body}</h2>`;
        }).catch(error => {
            console.error("Error: ", error);
        });

        document.getElementById("text-input").value = "";
        document.getElementById("submit-button").disabled = true;
    }
</script>